/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#details {
  margin: 0 auto;
}

.full {
  float: left;
  width: 65.33%;
  margin: 1% 1% 1% 0;
}

.small {
  float: left;
  width: 32.66%;
  margin: 1% 0% 1% 1%;
}

section.smaller {
  width: 32.66%;
  margin: 1% 0;
}

section.smallest {
  width: 32.1665%;
  margin: 1% 0;
}

#details .smaller {
  margin: 0 1% 0 0;
}

.top {
  margin-bottom: 2%;
}

 section.middle {
   margin: 1% 2%;
 }
